<div class="row">
  <div class="row borde-abajo">
    <div class="h3 col-md-6">Unidades Funcionales</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    Departamentos:
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    Cocheras:
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    Bauleras:
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row">
<a type="button" class="btn btn-success" href="<%= obra_unidades_funcionales_path(@obra) %>">
  <span class="glyphicon glyphicon-list-alt"></span>
  Listar Unidades Funcionales
</a>
</div>
