<h2>Unidades Funcionales
  <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= new_obra_unidad_funcional_path(@obra) %>">
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Unidad
  </a>
</h2>
<div id="chequeras">
  <%= render 'list', unidades: @unidades %>
</div>
