<h2>Nueva Unidad Funcional</h2>

<%= render 'form'  %>

<div class="row">
  <a type="button" class="btn btn-warning col-md-2 col-md-offset-3" href="<%= obra_unidades_funcionales_path(@obra) %>">
    <span class="glyphicon glyphicon-eye-open"></span>
    Volver al Listado
  </a>
  <a type="button" class="btn btn-success col-md-2 col-md-offset-1" id="btnGuardar">
    <span class="glyphicon glyphicon-ok"></span>
    Guardar Cambios
  </a>
</div>
