<h2>Contratos de Venta</h2>

<a type="button" class="btn btn-primary col-md-4 pull-right" href="<%= new_obra_contrato_de_venta_path(@obra) %>">
  <span class="glyphicon glyphicon-plus"></span>
  Nuevo Contrato
</a>

<%= render 'list', contratos: @contratos %>
<br>
