<h2>Nuevo Contrato de Venta</h2>

<div class="col-md-12">
  <div class="row">
    <%= render 'form' %>
  </div>

  <div class="row">
    <a type="button" class="btn btn-warning col-md-3 col-md-offset-4" href="<%= obra_contratos_de_venta_path(@obra) %>">
      <span class="glyphicon glyphicon-eye-open"></span>
      Volver al Listado
    </a>
    <a type="button" class="btn btn-success col-md-3 col-md-offset-2" id="btnGuardar">
      <span class="glyphicon glyphicon-ok"></span>
      Guardar Cambios
    </a>
  </div>
</div>
