<div class="row">
  <h2>Nueva Retencion</h2>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-4" href="<%= con_obra? factura_path (@factura) %>">
        <span class="glyphicon glyphicon-eye-open"></span>
        Volver a Factura
      </a>
      <a type="button" class="btn btn-success col-md-3 col-md-offset-2" id="btnGuardar">
        <span class="glyphicon glyphicon-ok"></span>
        Guardar Cambios
      </a>
    </div>

    <div class="row">
      <br>
    </div>

    <div class="row">
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-4" href="<%= con_obra? retenciones_path %>">
        <span class="glyphicon glyphicon-list"></span>
        Listar Retenciones
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="field form-group col-md-5 pull-right">
        <label>Saldo de la Factura</label><br>
        <span class="form-control text-right" disabled ><%= formatted_number(@factura.saldo) %></span>
      </div>
    </div>

    <div class="row col-md-offset-1">
      <h4>Detalle de Movimientos</h4>
      <%# lugar donde listar los movimientos que componen el recibo %>
    </div>

    <div class="row pull-right">
      <a type="button" class="btn btn-primary" href="#">
        <span class="glyphicon glyphicon-plus"></span>
        Nuevo Movimiento
      </a>
    </div>

  </div>

</div>

