<h1>Editar Factura</h1>

<%= render 'form' %>

<a type="button" class="btn btn-success" href="<%= facturas_path %>">
  <span class="glyphicon glyphicon-list-alt"> Listado</span>
</a>
<a type="button" class="btn btn-warning" href="<%= factura_path(@factura) %>">
  <span class="glyphicon glyphicon-eye-open"> Factura</span>
</a>
