<div class="row">
  <h2>Nueva Factura</h2>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-4" href="<%= facturas_path %>">
        <span class="glyphicon glyphicon-eye-open"> Volver al Listado</span>
      </a>

      <button class="btn btn-success col-md-3 col-md-offset-2" id="btnGuardar">
        <span class="glyphicon glyphicon-ok"> Guardar Cambios</span>
      </button>
    </div>
  </div>
</div>


<%# script que permite que un boton ubicado fuera del formulario lo postee
    hay que referirse al formulario por su id
    para el caso de una nueva factura el id del formulario es siempre new_factura %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#btnGuardar').on('click', function() { $('#new_factura').submit(); });
  });
</script>
