<div class="row">
  <h2>Nuevo tercero</h2>
</div>
<div class="row">
  <%= render 'form' %>

  <div class="row">
    <a type="button" class="btn btn-warning col-md-2 col-md-offset-3" href="<%= con_obra? terceros_path %>">
      <span class="glyphicon glyphicon-eye-open"></span>
       Volver al Listado
    </a>
    <a type="button" class="btn btn-success col-md-2 col-md-offset-2" id="btnGuardar">
      <span class="glyphicon glyphicon-ok"></span>
      Guardar Cambios
    </a>
  </div>
