<h2>Detalle de Tercero</h2>

<%= render 'form' %>

<a type="button" class="btn btn-success col-md-2" href="<%= con_obra? terceros_path %>">
  <span class="glyphicon glyphicon-eye-open"></span>
  Listar Terceros
</a>
<a type="button" class="btn btn-warning col-md-2 col-md-offset-1" href="<%= con_obra? edit_tercero_path(@tercero) %>">
  <span class="glyphicon glyphicon-edit"></span>
  Editar Tercero
</a>
