<div class="row">
  <h2>Detalle de Indice</h2>

  <%= render 'form' %>

  <a type="button" class="btn btn-success col-md-2" href="<%= indices_path %>">
    <span class="glyphicon glyphicon-eye-open"></span>
    Listar Indices
  </a>
  <a type="button" class="btn btn-warning col-md-2 col-md-offset-1" href="<%= edit_indice_path(@indice) %>">
    <span class="glyphicon glyphicon-edit"></span>
    Editar Indice
  </a>
</div>

<div class="row">
  <% if @indice.contratos_de_venta.any? %>
    <h4>Contratos utilizando este índice</h4>
    <%= render 'contratos_de_venta/list', contratos: @indice.contratos_de_venta %>
  <% else %>
    <div class="alert alert-info">
      <h4>Ningún contrato está utilizando este índice</h4>
    </div>
  <% end %>
</div>
