<div class="row">
  <div class='col-xs-6 col-md-6'>
    <%= humanized_money_with_symbol -1 * movimiento.monto %>
  </div>
  <div class='col-xs-6 col-md-6'>
    <%= link_a_causa(movimiento) %>
  </div>
</div>
