// separa el contenido de la barra superior
body {
  padding-top: 4em;
}

// separacion glyphicons texto en botones
.btn .glyphicon {
  margin-right: 5px;
}

// estilo para selector de archivos bootstrap-filestyle
form {
  .filestyle {
    &[type='text'] {
      width: 60%;
      float: left;
    }

   &.btn {
      margin-left: 5%;
      width: 25%;
      float: left;
    }
  }
}
