// separa el contenido de la barra superior
body {
  padding-top: 4em;
}

// separacion glyphicons texto en botones
.btn .glyphicon {
  margin-right: 5px;
}

// nivela el boton con los form-controls
.nivelar-boton {
  margin-top: 5px;
}

.h4-alinear-h3 {
  margin-top: 25px;
}

// cambia cursor a 'pointer' en elementos con clase 'ir-a'
.ir-a {
  cursor: pointer;
}

// bordes para celdas y renglones
.borde-abajo {
  border-bottom-color: #EEE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.borde-abajo-punteado {
  border-bottom-color: #EEE;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}

// estilo para selector de archivos bootstrap-filestyle
form {
  .filestyle {
    &[type='text'] {
      width: 74%;
      float: left;
    }

   &.btn {
      margin-left: 3%;
      width: 22%;
      float: right;
    }
  }
}

#errorExplanation {
  /* copiado de bootstrap alert-danger */
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  color: #A94442;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;

  h2 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
}

// Colores para Demo @ cp.lainventoria.com.ar
  // cambia color de barra de navegacion 
  .navbar-default {
    background-color: #FF9900;
  }

  body {
    background-color: #FFFFCC;
  }

