<div class="btn-group">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span>
    Cobro
  </button>
  <ul class="dropdown-menu" role="menu">
    <% unless @factura.importe_total_moneda == 'USD' %>
      <li><%= link_a_nuevo_movimiento('Efectivo') %></li>
      <% if @recibo.factura.tipo_valido? %>
        <li><%= link_a_nuevo_movimiento('Transferencia') %></li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_a_nuevo_movimiento('Cheque de terceros') %></li>
    <% else %>
      <li><%= link_a_nuevo_movimiento('Efectivo') %></li>
    <% end %>
  </ul>
</div>
