<div class="row">
  <h2>Editar Recibo</h2>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <% @editar = true %>
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-danger col-md-3" href="<%= factura_recibo_path %>" data-confirm="Estas seguro?" data-method="delete" rel="nofollow">
        <span class="glyphicon glyphicon-remove-circle"></span>
        Borrar Recibo
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= factura_recibo_path(@recibo.factura, @recibo) %>">
        <span class="glyphicon glyphicon-eye-open"></span>
        Volver a Recibo
      </a>
      <a type="button" class="btn btn-success col-md-3 col-md-offset-2" id="btnGuardar">
        <span class="glyphicon glyphicon-ok"></span>
        Guardar Cambios
      </button>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="field form-group col-md-5 pull-right">
        <label>Saldo de la Factura</label><br>
        <span class="form-control" disabled ><%= @factura.saldo %></span>
      </div>
    </div>

    <div class="row col-md-offset-1">
      <h4>Detalle de Movimientos</h4>
      <%# incorporar aqui la lista de movimientos %>
    </div>

    <div class="row pull-right">
      <a type="button" class="btn btn-primary" href="#">
        <span class="glyphicon glyphicon-plus"></span>
        Nuevo Movimiento
      </a>
    </div>

  </div>
</div>
