<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Vencimiento</th>
      <th>Monto</th>
      <th>Tercero</th>
      <th>Concepto</th>
      <th>Banco</th>
    </tr>
  </thead>

  <tbody>
    <% @cheques.each do |cheque| %>
      <tr id="<%= chequ_path(cheque.id) %>">
        <td><%= link_to '', cheque, class:"glyphicon glyphicon-eye-open" %></td>
        <td><%= formatted_date(cheque.fecha_vencimiento) %></td>
        <td><%= cheque.monto %></td>
        <td><%# lugar para cheque.tercero %></td>
        <td><%# lugar para helper de concepto %></td>
        <td><%# lugar para cheque.banco %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%# script: al hacer click en un renglon, redirige a la vista detallada
    el id de cada renglon de la lista tiene que contener el path de destino %>

<script type="text/javascript">
    $(document).ready(function(){
        $('tr').on('click', function() { window.location = this.id});
  });
</script>
