<div class="row">
  <h2>Editar Caja</h2>
</div>

<div class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <a type="button" class="btn btn-danger col-md-2" href="<%= caja_path %>" data-confirm="Estas seguro?" data-method="delete" rel="nofollow">
    <span class="glyphicon glyphicon-remove-circle"></span>
    Borrar Caja
  </a>
  <a type="button" class="btn btn-warning col-md-2 col-md-offset-1" href="<%= caja_path(@caja) %>">
    <span class="glyphicon glyphicon-eye-open"></span>
    Volver a Caja
  </a>
  <a type="button" class="btn btn-success col-md-2 col-md-offset-1" id="btnGuardar">
    <span class="glyphicon glyphicon-ok"></span>
    Guardar Cambios
  </a>
</div>
