<div class="row">
  <h2>Cajas
    <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= con_obra? new_caja_path(situacion: 'efectivo') %>">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva Caja
    </a>
  </h2>
</div>
<div id="cajas" class="row">
  <%# nested-layout: oculta columnas de bancos %>
  <% content_for :stylesheets do %>
    #cajas #lista_banco {display: none}
  <% end %>
  <%= render 'list', cajas: @cajas %>
</div>
<div class="row">
  <br>
  <h2>Cuentas
    <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= con_obra? new_caja_path(situacion: 'banco') %>">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva Cuenta
    </a>
  </h2>
</div>
<div id="cuentas" class="row">
  <%# nested-layout: oculta columnas de bancos %>
  <% content_for :stylesheets do %>
    #cuentas #lista_caja {display: none}
  <% end %>
  <%= render 'list', cajas: @cuentas %>
</div>
