<div class="row">
  <h2>Cajas
    <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= new_caja_path(situacion: 'efectivo') %>">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva Caja
    </a>
  </h2>
</div>
<div id="cajas" class="row">
  <%= render 'list', cajas: @cajas, lista_banco: "hidden", lista_caja: "" %>
</div>
<div class="row">
  <br>
  <h2>Cuentas
    <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= new_caja_path(situacion: 'banco') %>">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva Cuenta
    </a>
  </h2>
</div>
<div id="cuentas" class="row">
  <%= render 'list', cajas: @cuentas, lista_banco: "", lista_caja: "hidden" %>
</div>
