<div class="row">
  <h2>Nueva <%= caja_o_cuenta %></h2>
</div>

<div class="row">
  <%= render 'form' , opciones_formulario_caja %>
</div>

<div class="row">
  <a type="button" class="btn btn-warning col-md-2 col-md-offset-3" href="<%= con_obra? cajas_path %>">
    <span class="glyphicon glyphicon-eye-open"></span>
    Volver al Listado
  </a>
  <a type="button" class="btn btn-success col-md-2 col-md-offset-1" id="btnGuardar">
    <span class="glyphicon glyphicon-ok"></span>
    Guardar Cambios
  </a>
</div>
