<p id="notice"><%= notice %></p>

<p>
  <strong>Obra:</strong>
  <%= @obra.nombre %>
</p>

<%= link_to 'Editar', edit_obra_caja_path(@obra, @caja) %> |
<%= link_to 'Volver', obra_cajas_path(@obra) %>
