<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Obras <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <% Obra.find_each do |obra| %>
      <li>
      <% if params[:action] == 'show' %>
      <%= link_to obra.nombre, url_for(params.merge(obra_id: obra.id, action: 'index'))  %>
      <% else %>
      <%= link_to obra.nombre, url_for(params.merge(obra_id: obra.id))  %>
      <% end %>
      </li>
    <% end %>
  </ul>
</li>
