<%# este partial requiere los siguientes parametros
  nombre: nombre del select (en params) (opcional)
  moneda: [valores existentes] valor preseleccionado del selector
  seleccion: ['disabled', ''] des/activa la seleccion de moneda
%>

<label>Moneda</label>
<%= select_tag defined?(nombre) ? nombre : 'selector_moneda',
    options_for_select(monedas, defined?(moneda) ? moneda : nil),
    class: 'form-control moneda',
    disabled: defined?(seleccion) && seleccion.present? ? true : false %>
