<%# cajas: una lista de cajas
    nombre: el nombre del select para unirlo a un params - opcional %>

<label>Caja / Cuenta</label>

<%= select_tag defined?(nombre) ? nombre : :caja,
    options_from_collection_for_select(cajas, :id, :descripcion),
    class: 'form-control' %>
